<html>
    <head>
        <script type="module">
            import * as THREE from "https://cdn.skypack.dev/three@0.132.2";
            import { GLTFLoader } from 'https://cdn.skypack.dev/three@0.132.2/examples/jsm/loaders/GLTFLoader.js'
            import { OrbitControls } from 'https://cdn.skypack.dev/three@0.132.2/examples/jsm/controls/OrbitControls.js'
            const scene = new THREE.Scene();
            var container = document.getElementById( 'canvas' );
			const camera = new THREE.PerspectiveCamera( 75, container.clientWidth / container.clientHeight, 0.1, 1000 );
            const light = new THREE.DirectionalLight(0xffffff, 2);
            scene.add( new THREE.AmbientLight( 0xffffff, 0.1 ) );
            camera.add( light )

			const renderer = new THREE.WebGLRenderer();
			renderer.setSize( container.clientWidth-16, container.clientHeight-16 );
			container.appendChild( renderer.domElement );

            var controls = new OrbitControls( camera, renderer.domElement );
            controls.enableDamping = true;

			camera.position.z = 5;
            scene.add(camera)

            let tag_obj;
			export function loadObject(url) {
                if (tag_obj){
                    scene.remove(tag_obj);
                }


                const loader = new GLTFLoader();
                loader.load(url, function ( gltf) {
                    tag_obj = new THREE.Group()
                    gltf.scene.scale.set(50, 50, 50);

                    gltf.scene.rotation.x += Math.PI/2;

                    const box = new THREE.Box3().setFromObject( gltf.scene );
                    const size = box.getSize(new THREE.Vector3());
                    gltf.scene.position.set(-size.x/2, -size.y/2, -size.z/2)

                    tag_obj.add(gltf.scene)
                    scene.add(tag_obj)
                    camera.lookAt(tag_obj);

                })
                return tag_obj;
            }
            loadObject("./static/tag.gltf")

            function animate() {
				requestAnimationFrame( animate );
                controls.update( );
		        light.position.copy( camera.position );
				renderer.render( scene, camera );
			};
            animate();

            window.loadObject = loadObject;
		</script>
        <script>
            let stl_addr;
            async function generate_tag(e){
                document.getElementById("download_stl_btn").disabled = true;
                e.preventDefault();
                let text = e.srcElement[0].value;
                let url = e.srcElement[1].value;
                let res = await fetch("/generate", {
                    method: "POST",
                    body: JSON.stringify({
                        text: text,
                        url: url
                    }),
                    headers: {
                        "Content-type": "application/json; charset=UTF-8"
                    }
                })

                let json = await res.json()

                loadObject(json['gltf'])
                stl_addr = json['stl']
                document.getElementById("download_stl_btn").disabled = false;
            }

            function download_stl() {
                window.open(stl_addr, '_blank').focus();
            }
        </script>


    </head>
    <body>
        <h1>3D-Tag-Creator</h1>

        <form onsubmit="return generate_tag(event)" method="post">
            <label for="ftext">Text:</label><br>
            <input type="text" id="ftext" name="ftext" required><br>
            <label for="furl">URL:</label><br>
            <input type="url" id="furl" name="furl" required>
            <button>Generate</button>
        </form>

        <button type="button" id="download_stl_btn" onclick="download_stl()" disabled>Download STL</button>

        <div id="canvas" style="width: 50vh; height: 50vh;"></div>

    </body>

</html>
